* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Lato", "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", "Helvetica Neue", sans-serif;
}

pre,
code,
kbd {
    font-family: 'Source Code Pro', 'Noto Sans Mono', 'Consolas', 'Monaco', 'Menlo', 'Dejavu Sans Mono', monospace;
}

pre {
    display: block;
    overflow: auto;
    white-space: pre;
}

code {
    word-wrap: break-word;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
    overflow: hidden;
}

a:hover,
a:focus {
    text-decoration: underline;
}

a.post-title {
    color: #222;
}

h3 {
    font-weight: 100;
}
/* LAYOUT CSS */

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}

.brand-title {
    text-transform: uppercase;
}

.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}

.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}

.post-title {
    font-size: 1.6em;
    color: #222;
    margin-bottom: 0.2em;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

.post-description {
    font-family: Georgia, "Cambria", "Noto Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", "Helvetica Neue", serif;
    color: #444;
    line-height: 1.8em;
}

.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}

.post-category-a {
    background: #5aba59;
}

.post-category-b {
    background: #4d85d1;
}

.post-category-c {
    background: #8156a7;
}

.post-category-d {
    background: #df2d4f;
}

.post-images {
    margin: 1em 0;
}

.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    padding: 1em 0;
}

.footer a {
    color: #777;
    font-size: 80%;
    display: inline;
}

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

.people-list {
    white-space: normal !important;
}

td {
    max-width: calc(100vw - 5em);
    overflow-x: auto;
}

div.post-description p, li {
    max-width: 100%;
/*    overflow-x: auto; */
    word-wrap: break-word;
}

@media (max-width: 480px) {
    * {
        word-break: normal;
        word-wrap: break-word;
    }
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }
    td {
        max-width: calc(75vw - 10em);
        overflow-x: auto;
    }
    .header {
        margin: 80% 2em 0;
        text-align: right;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
    .footer {
        text-align: center;
    }
}

@media screen and (min-width: 80em) {
    .pure-u-xl-4-5 {
        width: 75%;
    }
}
